.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 3px;
	font-size: 38px;
}

.logo .ballIcon {
	color: #fff;
}

.logo h3:nth-child(2) {
	color: #ff0046;
}

.logo h3:nth-child(3) {
	color: #eeeeee;
}
