.loadingLayoutContainer {
	height: calc(100vh - 184px);
}

.matchDetails {
	max-width: 1370px;
	margin: 0 auto;
	padding: 0 25px 0 25px;
}

/* Match Result */
.matchResultContainer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	color: #c6cccc;
	font-size: 46px;
	border-radius: 8px;
	text-align: center;
	max-width: 1370px;
	margin: 0px auto 65px auto;
	padding: 10px 0px;
}

.matchResultContainer div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.matchResultContainer .scotlandFlag {
	width: 64px;
	height: 43px;
}

.matchResultContainer div:nth-of-type(1) {
	order: 1;
}

.matchResultContainer div:nth-of-type(2) {
	order: 3;
	flex-direction: row-reverse;
}

.matchResultContainer .score {
	order: 2;
}

/* Page content */
.flipCardsContainer {
	display: flex;
	justify-content: space-between;
}

.flipCardIconContainer {
	position: absolute;
	color: #fff;
	top: -40px;
	right: 7px;
	display: none;
}

.flipCardIconContainer svg:hover {
	scale: 1.3;
}

.teamInformationIconContainer {
	position: absolute;
	top: -40px;
	color: #fff;
}

.teamInformationIconContainer svg:hover {
	scale: 1.3;
}

/* Fields */
.field {
	width: 570px;
	height: 770px;
	margin-bottom: 65px;
	background-color: #001e28;
	position: relative;
	border: 2px solid #fff;
}

.centerLine {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.centerCircle {
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Top side of the pitch */
.penaltyFieldTop {
	width: 70%;
	height: 150px;
	border: 2px solid #fff;
	background-color: #001e28;
	border-top: unset;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.goalTargetFieldTop {
	width: 35%;
	height: 60px;
	border: 2px solid #fff;
	border-top: unset;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}

.goalTargetTop {
	width: 14%;
	height: 25px;
	border: 2px solid #fff;
	border-bottom: unset;
	position: absolute;
	top: -27px;
	left: 50%;
	transform: translateX(-50%);
}

.penaltyArcTop {
	width: 75px;
	height: 55px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
}

/* Bottom side of the pitch */
.penaltyFieldBottom {
	width: 70%;
	height: 150px;
	border: 2px solid #fff;
	background-color: #001e28;
	border-bottom: unset;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.goalTargetFieldBottom {
	width: 35%;
	height: 60px;
	border: 2px solid #fff;
	border-bottom: unset;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}

.goalTargetBottom {
	width: 14%;
	height: 25px;
	border: 2px solid #fff;
	border-top: unset;
	position: absolute;
	bottom: -27px;
	left: 50%;
	transform: translateX(-50%);
}

.penaltyArcBottom {
	width: 75px;
	height: 55px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
}

/* Players information from minutes to minutes section */
.playersSection {
	display: flex;
	justify-content: space-between;
}

/* Media queries */
@media screen and (max-width: 1224px) {
	.matchDetails {
		height: 100vh;
		overflow: scroll;
	}

	.matchResultContainer {
		justify-content: space-between;
		align-items: center;
		font-size: 37px;
		max-width: 570px;
	}

	.teamsContentContainer {
		perspective: 1300px;
	}

	.flipCardsContainer {
		transform-style: preserve-3d;
		position: relative;
		margin: auto;
		max-width: 570px;
	}

	.flipCardIconContainer {
		display: block;
	}

	.backSide {
		transform: rotateY(180deg);
	}

	.frontSide,
	.backSide {
		position: absolute;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		will-change: transform;
	}
}

@media screen and (max-width: 668px) {
	.matchResultContainer {
		font-size: 32px;
	}

	.matchResultContainer img {
		width: 50px;
	}

	.matchResultContainer .scotlandFlag {
		width: 50px;
		height: 30px;
	}

	.teamsContentContainer {
		width: 95%;
		margin: 0 auto;
	}

	.frontSide,
	.backSide {
		width: 100%;
	}

	.field {
		width: unset;
		font-size: 13px;
	}
}

@media screen and (max-width: 535px) {
	.matchResultContainer {
		font-size: 26px;
	}

	.field {
		height: 650px;
	}

	.centerCircle {
		width: 140px;
		height: 140px;
	}

	.penaltyFieldBottom {
		height: 120px;
	}

	.goalTargetFieldBottom {
		height: 50px;
	}

	.penaltyArcBottom {
		bottom: 92px;
	}

	.penaltyFieldTop {
		height: 120px;
	}

	.goalTargetFieldTop {
		height: 50px;
	}

	.penaltyArcTop {
		top: 92px;
	}
}

@media screen and (max-width: 430px) {
	.matchResultContainer {
		padding: 10px 10px;
	}

	.matchDetails {
		padding: unset;
	}

	.centerCircle {
		width: 120px;
		height: 120px;
	}

	.penaltyFieldBottom {
		height: 100px;
	}

	.goalTargetFieldBottom {
		height: 40px;
		width: 38%;
	}

	.penaltyArcBottom {
		bottom: 70px;
	}

	.penaltyFieldTop {
		height: 100px;
	}

	.goalTargetFieldTop {
		height: 40px;
		width: 38%;
	}

	.penaltyArcTop {
		top: 70px;
	}
}

@media screen and (max-width: 360px) {
	.matchResultContainer {
		padding: 10px 10px;
		font-size: 22px;
	}

	.matchResultContainer div {
		gap: 5px;
	}

	.matchResultContainer img {
		width: 42px;
	}

	.matchResultContainer .scotlandFlag {
		width: 42px;
		height: 28px;
	}
}

@media screen and (max-width: 330px) {
	.matchResultContainer {
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
	}

	.teamsContentContainer {
		width: 95%;
		margin: 0 auto;
	}

	.frontSide,
	.backSide {
		width: 100%;
	}

	.field {
		width: unset;
		font-size: 11px;
	}
}
