.matchResultContainer {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	color: #c6cccc;
	background: #001e28;
	font-size: 46px;
    border-radius: 8px;
	text-align: center;
    max-width: 1370px;
    margin: 0px auto 65px auto;
    padding: 10px 20px;
	
}

.matchResultContainer div {
	display: flex;
	align-items: center;
	gap: 10px;

}

.matchResultContainer div:nth-of-type(1) {
	order: 1;
}

.matchResultContainer div:nth-of-type(2) {
	order: 3;
	flex-direction: row-reverse;
}

.matchResultContainer .score {
	order: 2;
}

.fieldsContainer {
	display: flex;
	justify-content: space-around;
	margin-bottom: 65px;
}

.field {
	width: 570px;
	height: 770px;
	background-color: #001e28;
	position: relative;
	border: 2px solid #fff;
}

.centerLine {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.centerCircle {
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Top side of the pitch */
.penaltyFieldTop {
	width: 70%;
	height: 150px;
	border: 2px solid #fff;
	background-color: #001e28;
	border-top: unset;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.goalTargetFieldTop {
	width: 35%;
	height: 60px;
	border: 2px solid #fff;
	border-top: unset;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}

.goalTargetTop {
	width: 14%;
	height: 25px;
	border: 2px solid #fff;
	border-bottom: unset;
	position: absolute;
	top: -27px;
	left: 50%;
	transform: translateX(-50%);
}

.penaltyArcTop {
	width: 75px;
	height: 55px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
}

/* Bottom side of the pitch */
.penaltyFieldBottom {
	width: 70%;
	height: 150px;
	border: 2px solid #fff;
	background-color: #001e28;
	border-bottom: unset;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.goalTargetFieldBottom {
	width: 35%;
	height: 60px;
	border: 2px solid #fff;
	border-bottom: unset;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}

.goalTargetBottom {
	width: 14%;
	height: 25px;
	border: 2px solid #fff;
	border-top: unset;
	position: absolute;
	bottom: -27px;
	left: 50%;
	transform: translateX(-50%);
}

.penaltyArcBottom {
	width: 75px;
	height: 55px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
}

/* Players' Positions */
.positionLine {
	display: flex;
	position: relative;
	z-index: 10;
	justify-content: space-around;
	height: 97px;
}

.GK {
	top: 15px;
}

.DF {
	top: 35px;
}

.MF {
	top: calc(50% - 210px);
}

.FW {
	top: calc(700px - 390px);
}

.positionLine.GK .playerPosition {
	margin-bottom: 10px;
}

.playerInformationContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	color: #c6cccc;
	/* width 70px OR 90px */
	width: 70px;
}

.playerPosition {
	position: relative;
	color: #001e28;
	background-color: #c6cccc;
	border-radius: 100%;
	padding: 5px;
	width: 33px;
	height: 33px;
	text-align: center;
	line-height: 1.5;
}

.captainIcon {
	position: absolute;
	top: -12px;
	right: -5px;
	width: 20px;
	height: 20px;
	color: #001e28;
	background-color: #fff;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
}

.changeIconContainer {
	position: absolute;
	top: 20px;
	left: 25px;
	color: #001e28;
	background-color: #fff;
	border-radius: 50%;
	width: 20px;
	height: 18px;
}

.playerName {
	text-align: center;
}

/* Players information from minutes to minutes section */
.playersSection {
	display: flex;
	justify-content: space-around;
}

.playersContainer {
	width: 570px;
}

.playersContainer ul {
	margin-bottom: 40px;
}

.playersContainer ul h3 {
	text-align: center;
	padding: 20px;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.playersContainer ul h3,
.playersContainer ul .subHeading {
	background-color: #001e28;
	color: #c6cccc;
}

.subHeading {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	font-size: 17px;
	font-weight: 600;
}

.subHeading .firstColumnContainer {
	display: flex;
	gap: 27px;
	width: 51%;
}

.playerRecord {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	background-color: #00141e;
	color: #b1afaf;
}

.playerRecord:not(:last-child) {
	border-bottom: 1px solid #000;
}

.playerRecord:hover {
	cursor: pointer;
	background-color: #001e28;
	transform: translate3d(5px, -5px, 0px);
	transition-duration: 0.4s;
	border-bottom: unset;
	box-shadow: #00232f -1px 1px, #00232f -2px 2px, #00232f -3px 3px,
	#00232f -4px 4px, #00232f -5px 5px;
}

.playerNameWrapper {
    display: flex;
    gap: 31px;
    width: 46%;
}

.playerNameWrapper div {
	color: #fff;
}

.playerNameWrapper .playerNumber {
	width: 20px;
}