.playersContainer {
	width: 570px;
}

.playersContainer ul {
	margin-bottom: 40px;
}

.playersContainer ul h3 {
	text-align: center;
	padding: 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.playersContainer ul h3,
.playersContainer ul .subHeading {
	background-color: #001e28;
	color: #c6cccc;
}

.subHeading {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	font-size: 17px;
	font-weight: 600;
}

.subHeading .firstColumnContainer {
	display: flex;
	gap: 27px;
	width: 51%;
}

.playerRecord {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	background-color: #00141e;
	color: #b1afaf;
}

.playerRecord:not(:last-child) {
	border-bottom: 1px solid #000;
}

.playerRecord:hover {
	cursor: pointer;
	background-color: #001e28;
	transform: translate3d(5px, -5px, 0px);
	transition-duration: 0.4s;
	border-bottom: unset;
	box-shadow: #00232f -1px 1px, #00232f -2px 2px, #00232f -3px 3px,
		#00232f -4px 4px, #00232f -5px 5px;
}

.playerNameWrapper {
	display: flex;
	gap: 31px;
	width: 46%;
}

.playerNameWrapper div {
	color: #fff;
}

.playerNameWrapper .playerNumber {
	width: 20px;
}

/* Media queries */

@media screen and (max-width: 535px) {
	.playersContainer ul h3 {
		font-size: 17px;
	}

	.subHeading {
		font-size: 15px;
	}

	.playerRecord {
		font-size: 14px;
	}
}

@media screen and (max-width: 430px) {
	.playersContainer ul h3 {
		font-size: 16px;
	}

	.subHeading {
		padding: 15px 10px;
	}

	.subHeading .firstColumnContainer {
		gap: 10px;
		width: 67%;
	}

	.playerRecord {
		padding: 15px 10px;
	}

	.playerNameWrapper {
		gap: 10px;
		width: 60%;
	}
}

@media screen and (max-width: 330px) {
	.playersContainer ul h3 {
		font-size: 15px;
	}

	.subHeading {
		font-size: 14px;
	}

	.playerRecord {
		font-size: 13px;
	}
}