.home {
	display: flex;
	gap: 50px;
}

.home a {
	color: unset;
}

/* Group stage section */
.groupsLayout {
	display: flex;
	flex-direction: column;
	width: 22%;
	height: 85vh;
}

.groupsLayout h2 {
	position: sticky;
	top: 0px;
	background-color: #010a0f;
	color: #c6cccc;
	padding-bottom: 10px;
}

.groupsContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: scroll;
	overflow-x: hidden;
}

.group {
	background-color: #00141e;
	border-radius: 8px;
}

.group h3 {
	color: #c6cccc;
	background-color: #001e28;
	padding: 5px 0px;
	text-align: center;
	font-size: 17px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.groupContent {
	padding: 10px;
	color: #b1afaf;
}

.matchContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* Section after the group stage */
.matchBracketsContainer {
	display: flex;
	align-items: center;
	gap: 80px;
	width: 75%;
	color: #b1afaf;
}

.qualificationMatchesContent {
	width: 20%;
}

.qualificationMatchesContent h3 {
	color: #c6cccc;
	background-color: #001e28;
	padding: 5px 0px;
	text-align: center;
	font-size: 17px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 10px;
}

.qualificationMatchesContent ul {
	display: flex;
	flex-direction: column;
}

.matchBracket {
	display: flex;
	position: relative;
	align-items: center;
	gap: 10px;
	background-color: #00141e;
	border-radius: 8px;
	padding: 10px;
}

.connector {
	position: absolute;
}

.qualificationMatchesContent .roundOfEight {
	gap: 15px;
}

.roundOfEight .matchBracket::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -70px;
	width: 70px;
	height: 2px;
	background-color: #fff;
}

.roundOfEight .matchBracket.even::before {
	content: "";
	position: absolute;
	top: -43px;
	right: -70px;
	width: 2px;
	height: 75px;
	background-color: #fff;
}

.qualificationMatchesContent .quarterFinals {
	gap: 88px;
}

.quarterFinals .matchBracket::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -70px;
	width: 70px;
	height: 2px;
	background-color: #fff;
}

.quarterFinals .matchBracket.even::before {
	content: "";
	position: absolute;
	top: -116px;
	right: -70px;
	width: 2px;
	height: 145px;
	background-color: #fff;
}

.qualificationMatchesContent .semiFinals {
	gap: 235px;
}

.semiFinals .matchBracket::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -70px;
	width: 70px;
	height: 2px;
	background-color: #fff;
}

.semiFinals .matchBracket.even::before {
	content: "";
	position: absolute;
	top: -263px;
	right: -70px;
	width: 2px;
	height: 293px;
	background-color: #fff;
}

.quarterFinals .connector,
.semiFinals .connector,
.finals .connector {
	left: -10px;
	top: 50%;
	width: 10px;
	height: 2px;
	background-color: #fff;
}
