.teamDetails {
	height: calc(100vh - 184px);
}

.headingContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	margin: 0 auto 15px auto;
	color: #c6cccc;
}

.headingContainer img {
	width: 88px;
}

.scotlandFlag {
	width: 64px;
	height: 43px;
}

.teamDetailsTable {
	margin: 0 auto;
	max-width: 600px;
	max-height: calc(100vh - 264px);
	overflow: scroll;
	overflow-x: hidden;
}

.titlesContainer {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	padding: 20px;
	background-color: #001e28;
	color: #c6cccc;
}

.titlesContainer > div {
	display: flex;
	gap: 20px;
}

.teamDetailsTable li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #00141e;
	color: #b1afaf;
}
.teamDetailsTable li:not(:last-child) {
	border-bottom: 1px solid #000;
}

.teamDetailsTable li div {
	display: flex;
	gap: 30px;
}

.teamDetailsTable li div p:first-of-type  {
	width: 18px;
}

.teamDetailsTable li > p {
	border-radius: 50%;
	background-color: #001e28;
	color: #c6cccc;
	padding: 7px 5px;
	width: 34px;
	text-align: center;
}

/* Media Queries */
@media screen and (max-width: 700px) {
	.teamDetails {
		padding: 0 20px 0 20px;
	}

	.teamDetailsTable li {
		padding: 14px 18px;
	}
}

@media screen and (max-width: 360px) {
	.teamDetailsTable li {
		padding: 12px 14px;
		font-size: 15px;
	}

	.teamDetailsTable li div {
		gap: 20px;
		align-items: center;
	}
}
